.basural-img{
    background-image: url('../../assets/img/basural-paralaxx.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
   

}
.contenedor-texto-basural{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.texto-basura{
    background-color: rgba(245, 245, 245, 0.274);
    color: black;
    padding: 20px;
    margin: 40px;
    width: 750px;

}
.basural-img-dos{
   height: 324;
   width: 900 ;
}
.contenedor-basura2{
    width: 500px;
}

.texto-debasura{
    font-size: 30px;
    font-family: gothamNarrowBook;
}
@media (max-width:600px) {
    .texto-basura{
        text-align: center;
        font-size: 10px;
        width: auto;
    }
    .texto-debasura{
        font-size: 14px;
    }
}