.logoCloro{
    margin: 30px;
}
.logoBeleza{
    margin: 30px;
}
.logoFrau{
    margin: 30px;
}
.logoLimplus{
    margin: 30px;
}
.titulo-productoras{
    color: black;
    text-align: center;
    font-family: gothbold;
    font-size: 40px;
}
/* .textoProductoras{
    text-align: center;
}
.textoProductorash2{
    text-align: center;
} */
.textoProductoras {
    text-align: center;
    font-family: gothamNarrowLight;
    font-weight: 800;
    color: black;
}
.textoProductorash2{
    text-align: center;
    font-family: gothbold;
    color: #009538;
}
/* .logos{
    margin-left: 150px;
} */
.productorasLogo{
    align-items: center;
    display: flex;
    justify-content: center;
}
.contenedor-padre-productoras{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor-hijo-productoras{
    justify-content: center;
}
.empresas-produc{
    margin-left: 60px !important;
    margin-right: 60px !important;
}
@media (max-width: 600px) {
    .logos{
        margin-left: 0;
    }
    /* .logoBeleza{
        margin: 50px;
    } */
    .titulo-productoras{
        font-size: 30px;
    }
    .textoProductoras{
        font-size: 25px;
    }
    .textoProductorash2{
        font-size: 23px;
        
    }
    .marque-produc{
        margin-bottom: 15px;
    }
    .empresas-produc{
        margin-bottom: 15px;
        margin-top: 15px;
    }
  }
 

  /* carrousel */
 