@font-face {
  font-family: gohtbook;
  src: url(../../assets/fonts/GOTHMBOK_6.TTF);
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

@font-face {
  font-family: gothbold;
  src: url(../../assets/fonts/Gotham-Black_2.otf);
  font-weight: bold !important;

}
@font-face {
   font-family: bookbold;
   src: url(../../assets/fonts/GOTHMMED_6.TTF);
}
/* Nosotros */

.nosotros {
  color: #009538;
  font-family:  bookbold;
  text-align: center;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 20px;
}
.titulos-padre {
  align-items: center;
  display: flex;
  justify-content: center;
  font-family: gothamNarrowLight ;
}
.howit{
  font-size: 30px;
  text-transform: uppercase;
}
.titulos-centrados {
  width: 650px;
  justify-content: center;
  align-items: center;
}
hr{
  background-color: rgba(0, 0, 0, 0.295);

}
.ecosocam {
  color: #009538;
  font-family: gothbold;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 15px;
}
.descripciones {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  color: black;
}

.titulo-siguiente {
  font-family: 'Montserrat', sans-serif;
  color: black;
}

/* Proposito */
.proposito-padre {
  align-items: center;
  display: flex;
  justify-content: center;
  font-family: gothamNarrowBold ;
  margin-top: 50px;
}
.proposito {
  width: 690px;
  justify-content: center;
  align-items: center;
}

.propositohr{
  display: inline-block; 
}
.titulo-pro{
  color: #038910;
  font-family:  gohtbook;
  text-transform: uppercase;
}

.card-proposito {
  background-color: #038910;
  color: white;
}
.img-proposito {
  justify-content: center;
  margin-bottom: 10px;
}


.card-body {
  font-family: gothamNarrowLight ;
  font-weight: 300 !important;
}

/* Equipo */
.equipo-padre {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.equipo {
  justify-content: center;
  width: auto;
  font-family: gothamNarrowBold;
}
.titulo-equipo{
  font-family: gothamBold;
  font-size:50px;
  text-transform: uppercase;
}
.equipo-img {
  align-items: center;
  display: flex;
  justify-content: center;
}
.equipo-texto{
    font-family: gohtbook;
    font-size: 23px;
    line-height: 1.3;
    text-align: center;
}
.equipo-texto3{
  font-family: gohtbook;
  font-size: 23px;
  line-height: 1.3;
  text-align: center;
  color: #038910;
  font-weight: bold;
}
.imagen-equipo {
  justify-content: center;

}
.equipo-textoPadre{
  width: 800px;
}

/* Vision */

.vision-padre {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.vision {
  width: 900px;
  justify-content: center;
  align-items: center;
}
.vision-titulo {
  font-family: coco;
  color: #009538;
  font-weight: bold;
}
.vision-texto {
  font-family: Ace;
}
.objetivo {
  color: #009538;
  background-color: #deeaff;
  font-family: Ace;
  border: none;
}

/* Reconocimientos */

.reconocimientos-padre{
    align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.reconocimientos{
    width: 700px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
 
}
.reconocimientos-titulo{
  font-family: gothamBold;
  font-size:50px;
  color: black;
  text-transform: uppercase;
}
.lagaceta-img{
  margin-top: -10px;
}




/* responsive */
@media (max-width: 600px) {
  .img-proposito {
    margin-top: 10px;
    margin-left: 70px;
    margin-bottom: 20px;
    width: 200px;
    height: 180px;
  }
  .equipo-texto{
    font-size: 20px;
    margin-top: 19px;
    text-align: center;
    line-height:normal;

}
.col{
  flex-basis: auto;
}
.equipo-textoPadre{
  width:auto;
}
.titulo-equipo{
  font-size: 35px;
}
.reconocimientos{
  width:auto;
}
.reconocimientos-titulo{
  font-size:30px;
}
  /* ..equipo-img{
        width: 200px;
    } */
    .lagaceta-img{
      margin-top: 10px;
    }
  .imagen-equipo {
    width: 290px;
    height: auto;
  }
    .jije-img{
        margin-top: 0px;
    }
    .climate-launch{
        margin-top: 30px;

    }
    
}
