@font-face {
  font-family: gothamBold;
  src: url(../../assets/fonts/Gotham-Bold.ttf);
}

@font-face {
  font-family: gothamNarrowLight;
  src: url(../../assets/fonts/GothamNarrow-Light.otf);
}
@font-face {
  font-family: gothamNarrowBook;
  src: url(../../assets/fonts/GothamXNarrow-Book.otf);
}
@font-face {
  font-family: gothamNarrowBold;
  src: url(../../assets/fonts/GothamNarrow-Bold.otf);
}

.bannerPrincipal{
  padding:0px;
  background-image: url('../../assets/img/circcloBanner.jpg') ;
  background-size: cover;
}
.bannerSecundario{
  background-image: url('../../assets/img/circcloBanner.jpg');
}
.btn-sumarse{
  color: white;
  background-color: #038910 !important;
  border: #038910;
  border-style: none !important;
  border-radius: 10px;
}
.text-future{
    color: white;
}
.frase-mainx {
  font-family: gothamBold;
  font-size: 70px;
  line-height: 90px !important; 
  text-transform: uppercase;
  vertical-align: text-top;
  line-height: 22px;
  padding-right: 60% !important;
  margin-left: 50px;
  position:absolute;
  top: 200px;
  color: #ffffff;
}
/* .frase-mainx {
  font-family: gothamBold;
  font-size: 60px;

  text-transform: uppercase;

  text-align: start;
  color: #000000;
  padding-left: 0px !important;
} */
.frase-mainz {
  padding-left: 0px !important;

  font-family: lemon;
  text-align: end;
}
/* .divbtn{
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;} */
.btn-revolucion {
  /* display: flex;
  align-items: center;
  align-self: center;
  justify-content: center; */
  float: left;
  right: 0;
  border: #038910;
  border-style: none !important;
  border-radius: 10px;
  color: white;
  background-color: #038910 !important;
  font-family: gothamBold;
  text-transform: uppercase;
  width: 280px;
  height: 55px;
}
.btn-revolucion:hover {
  background-color: #03660d !important;
  border-color: #038910;
  border-style: none;
}
.btn-revolucion:focus {
  outline: none !important;
  box-shadow: none;
}
.refill-img {
  justify-content: end;
  margin-left: 120px;
  width: 470px;
  height: 480px;
  margin-top: 40px;
}

.columna-main {
  z-index: -100;
}

/* 
@media screen and (max-width: 280px) {
  .frase-main {
    font-size: 20px !important;
    text-align: center !important;
  }
  .contenedor-gif{
    width: auto;
    height: 400px;
    margin-top: 10px;
    margin-left: 35px;
  }
  .howit{
    font-size: 25px;
  }
  .refill-img{
    width: 200px;
    height: auto;
    margin-left: 20px;
    margin-top: 10px;
  }
  .div-btn{
    display: flex;
    align-items: center !important;
    align-self: center !important;
    justify-content: center !important;
  }
  .btn-revolucion{
    margin-right: 15px;
    font-size: 13px;
    width: 220px;
    height: 45px;
    margin-bottom: 20px;
    text-align: center !important;
    justify-content: center !important;
    align-content: center !important;
    align-items: center !important;
  }
}  */

@media screen and (device-width: 320px) {
  .frase-main {
    font-size: 27px !important;
    text-align: center !important;
    line-height: 30px;
  }
  .bannersecundario{
    background-background-image: url('../../assets/img/circcloBannercopia.jpg') ;
    background-size: cover;
  }

  .frase-mainx {
    font-size: 28px !important;
    text-align: center !important;
    line-height: 20px;
  }
  .contenedor-gif {
    width: auto;
    height: 400px;
    margin-top: 10px;
    margin-left: 35px;
  }
  .howit {
    font-size: 25px;
  }

  .div-btn {
    display: flex;
    align-items: center !important;
    align-self: center !important;
    justify-content: center !important;
  }
  .btn-revolucion {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 13px;
    width: 250px;
    height: 45px;
    margin-bottom: 10px;
    text-align: center !important;
    justify-content: center !important;
    align-content: center !important;
    align-items: center !important;
  }
  .refill-img {
    width: auto;
    height: 500px;
    margin-top: 10px;
    margin-left: 7px;
  }
}

@media screen and (device-width: 360px) {
  .frase-main {
    font-size: 30px !important;
    text-align: center !important;
    line-height: 40px;
  }
  .frase-mainx {
    font-size: 30px !important;
    text-align: center !important;
    line-height: 37px;
  }
  .refill-img {
    width: auto;
    height: 500px;
    margin-top: 10px;
    margin-left: 25px;
  }
  .div-btn {
    display: flex;
    align-items: center !important;
    align-self: center !important;
    justify-content: center !important;
  }
  .btn-revolucion {
    margin-left: 28px;
    font-size: 13px;
    margin-bottom: 10px;
    text-align: center !important;
    justify-content: center !important;
    align-content: center !important;
    align-items: center !important;
  }
  .bannersecundario{
    background-background-image: url('../../assets/img/circcloBannercopia.jpg') ;
    background-size: cover;
  }
}

@media screen and (device-width: 375px) {
  .frase-main {
    font-size: 30px !important;
    text-align: center !important;
    line-height: 40px;
  }
  .frase-mainx {
    font-size: 30px !important;
    text-align: center !important;
    line-height: 30px !important;
  }
  .refill-img {
    width: auto;
    height: 500px;
    margin-top: 10px;
    margin-left: 35px;
  }
  .div-btn {
    display: flex;
    align-items: center !important;
    align-self: center !important;
    justify-content: center !important;
  }
  .btn-revolucion {
    margin-left: 30px;

    margin-bottom: 10px;
    text-align: center !important;
    justify-content: center !important;
    align-content: center !important;
    align-items: center !important;
  }
  .bannersecundario{
    background-background-image: url('../../assets/img/circcloBannercopia.jpg') ;
    background-size: cover;
  }
}

@media screen and (device-width: 411px) {
  .frase-main {
    font-size: 40px !important;
    text-align: center !important;
    line-height: 40px;
  }
  .frase-mainx {
    font-size: 40px !important;
    text-align: center !important;
    line-height: 40px;
  }
  .div-btn {
    display: flex !important;
    align-items: center !important;
    align-self: center !important;
    justify-content: center !important;
  }
  .btn-revolucion {
    margin-bottom: 20px;
    margin-left: 49px;
  }
  .refill-img {
    width: auto;
    height: 500px;
    margin-top: 10px;
    margin-left: 55px;
  }
  .bannersecundario{
    background-background-image: url('../../assets/img/circcloBannercopia.jpg') ;
    background-size: cover;
  }
}

@media screen and (device-width: 414px) {
  .frase-main {
    font-size: 35px !important;
    text-align: center !important;
    line-height: 40px;
  }
  .frase-mainx {
    font-size: 35px !important;
    text-align: center !important;
    line-height: 40px;
  }
  .div-btn {
    display: flex !important;
    align-items: center !important;
    align-self: center !important;
    justify-content: center !important;
  }
  .btn-revolucion {
    margin-bottom: 20px;
    margin-left: 50px;
  }
  .refill-img {
    width: auto;
    height: 550px;
    padding-left: 0%;
    margin-top: 10px;
    margin-left: 45px;
  }
  .bannersecundario{
    background-background-image: url('../../assets/img/circcloBannercopia.jpg') ;
    background-size: cover;
  }
}
