/* .marque{
    font-size: 18px;
    color: rgb(120, 155, 84);
    background: #deeaff;

}

.text-marque{
    margin: 10px;
} */


.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 10;
  }
  
  /* Style the icon bar links */
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 12px;
    transition: all 0.3s ease;
    color: white;
    font-size: 25px;
  }
  
  /* Style the social media icons with color, if you want */
  .icon-bar a:hover {
    background-color: #038910;
  }
  
  .facebook {
    background: #a2cf8d;
    color: white;
  }
  
  .twitter {
    background: #a2cf8d;
    color: white;
  }
  
  
  
  .linkedin {
    background: #a2cf8d;
    color: white;
  }
  
  
  @media (max-width: 600px){
    .icon-bar{
        display: none !important;
        top: 0%;
        -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
        transform: translateY(0%);
        z-index: 0;
      }
      
    
  }




/* color: rgb(149, 185, 113); */
