@font-face {
    font-family: gothamNarrowBold;
    src: url(../../assets/fonts/GothamNarrow-Bold.otf);
}

.navbar-c{
    background-color: white;
    font-family: gothamNarrowBold;
    text-transform: uppercase;
    /* mas tarde position: fixed; */
}
.nav-link :active{
    color: #038910;
}
Nav:active{
    color: #038910;

}
.dropdown-abajo{
    z-index: 100;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #038910 !important;
}
@media (max-width: 1198px) {
    .nav-medio{
        display: none;
    }
}
@media (min-width: 1199px) {
    .nav-brand{
        display: none;
    }

}
@media (max-width:375px){
    .navbar-c{
       position: inherit;
    }
    .logonav{
        width: 200px;
        height: 40px;
    }

  }

  @media (max-width:320px){
   
    .logonav{
        width: 170px;
        height: 30px;
    }

  }