@font-face {
    font-family: lemon;
    src: url(../../assets/fonts/LEMONMILK-Light.otf);
}

.navbar-c{
    background-color: white;
    font-family: lemon;
}



@media (max-width:375px){
    .navbar-c{
       position: inherit;
    }
    .logonav{
        width: 200px;
        height: 40px;
    }

  }