.preguntas-padre {
  justify-content: center;
  display: flex;
  align-items: center;
}
.preguntas-hijo {
  text-align: start;
  width: 700px;
}
.preguntasfrec {
  text-align: center;
  font-family: gothamNarrowBold;
  font-weight: bolder;
}
.respuestas {
  font-family: gothamNarrowLight;
  font-weight: 600;
}

.acor {
  border: none;
  text-decoration: none;
  background-color: #f7f7f7;
  color: #009538;
  font-weight: 900 !important;
}
.respuestasgrandes {
  width: 700px;
}
.h6 {
  color: #009538;
  font-weight: 900;
  font-family: gothamNarrowBold;
  text-align: start;
}

@media (max-width: 600px) {
  .respuestasgrandes {
    width: auto;
  }
}
