@font-face {
    font-family: coco;
    src: url(../../assets/fonts/Cocogoose\ Pro\ Thin-trial.ttf);
    font-weight: 800 !important;
}

.preguntas-padre{
    justify-content: center;
    display: flex;
    align-items: center;
}
.preguntas-hijo{
    justify-content: center;
    width: 700;
}
.preguntasfrec{
    text-align: center;
    font-family: coco;
    font-weight: bolder;

}
.respuestas{
    font-family: ace;
}

.acor{
    border: none;
    text-decoration: none;
    background-color: #F7F7F7;
    color: #038910;
    font-weight: 900 !important;
}
.h6{
    color: #038910;
    font-weight: 900;
    font-family: coco;
    text-align: start;

}