@font-face {
    font-family: coco;
    src: url(../../assets/fonts/Cocogoose\ Pro\ Thin-trial.ttf);
    font-weight: 800 !important;
}

.preguntas-padre{
    justify-content: center;
    display: flex;
    align-items: center;

}
.preguntas-hijo{
   text-align: start;
}
.preguntasfrec{
    text-align: center;
    font-family: gothamNarrowBold;
    font-weight: bolder;

}
.respuestas{
    font-family: gothamNarrowLight;
    font-weight: 600;
}

.acor{
    border: none;
    text-decoration: none;
    background-color: #F7F7F7;
    color: #038910;
    font-weight: 900 !important;
}
.respuestasgrandes{
    width: 900px;
}
.h6{
    color: #038910;
    font-weight: 900;
    font-family: coco;
    text-align: start;

}

@media (max-width: 600px){
    .respuestasgrandes{
        width: auto;
    }
}