

.contenedor-hiw{
    font-family: gothamNarrowLight;
    min-width: auto;
}
.howi-img{
    width: auto ;
    height: 600px;
}
.contenedor-como{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 20px;
}
/* .contenedor-how2{
    width: 300px !important;
} */
.howit{
    color: #038910;
    font-family: gothamNarrowLight;
    font-size: 40px;
}
.badge{
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
}
.paso1{
    width: 200px;
    height: 200px;
}
.paso2{
    width: 250px;
    height: 200px;
}
.paso3{
    width: 200px;
    height: 200px;
}

.pasos-descrip{
    font-size: 20px;
    font-family: ace;
}
.marquesina{
    color: white;
    font-family: lemon;
    padding-top: 4px;
}

@media (max-width: 600px){
    .howi-img{
        width: 380px;
        height: auto;
    }
    .howit{
        font-size: 30px !important;
    }
}
@media screen and (device-width: 414px) {
    .howit{
        font-size: 30px !important;
    }
    .paso1{
        width: 150px !important;
        height: 170px;
    }
    .pasos-descrip{
        margin: auto;
    }
  }
 @media screen and (device-width: 320px) {
     .howi-img{
        width: 300px;
      }
     
 }