.contenedor{
    display: grid;
    /* background-color: #E0F8E6; */
    /* background-image: url('../../assets/img/botella.jpg') ;

    background-repeat: no-repeat;
    background-size: cover; */
}
.titulos-count{
    font-family: lemon;
    color: #038910;
    text-align: center;
}


.padre-count{
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: lemon;

}
.contador{
    font-size: 2rem;
    font-family: lemon;
    /* align-items: center !important;
    justify-content: center !important; */
}